@import "tailwindcss";

:root {
  --background: #f8f4ee;
  --foreground: rgba(12, 44, 63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f4ee;
    --foreground: rgba(12, 44, 63);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial);
}

code, pre, kbd, samp {
  font-family: var(--font-geist-mono, 'Geologica', SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace);
}
/* class to apply Geologica (provided by next/font in layout.tsx) */
.geologica-font {
  font-family: var(--font-geologica, 'Geologica', system-ui, sans-serif);
}
